
body {
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: justify;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: black;
}

.ordered__list-links li {
    font-size: larger;
}

.ordered__list-links a{
    background-color: white;
    border-radius: .2rem;
    /* padding: .5rem; */
    
}
.ordered__list-links a:hover{
    color: gray;
    /* padding: .5rem; */
    
}



footer {
    background-color: black;
    padding: .8rem;
    text-align: center;
    display: block;
    color: white;
    width: 100%;
}

.footer__ul li {
    list-style-type: none;
    display:inline;
    margin: auto;
   padding-right: 20px;
}
 .footer__ul a {
     color: gray;
     font-size: 20px;
 }